SELECT Students.id, Students.name
FROM Students LEFT JOIN Departments ON Students.department_id = Departments.id
WHERE ISNULL(Departments.id);

In [ ]:
SELECT id, name
FROM Students
WHERE NOT department_id IN (
    SELECT id 
    FROM Departments
    );